#app {}
input:disabled {background-color:rgba(254,192,0,0.5); color:#fff !important; border:none;}
select:disabled {background-color:rgba(254,192,0,0.5); color:#fff !important; border:none;}

#announce {}
.announce header {display:none;}
.announce .wrap-contents {margin-top:100px;}
.announce-search {width:100%; max-width:none; margin-bottom:20px;}
.announce-title {margin-bottom:20px; font-size:30px; font-weight:bold; text-align:center;}
.announce-title .point {position:relative; top:-10px; font-size:60px; font-weight:bold;}
.gift {padding:30px; margin-bottom:20px; border-radius:15px; border:3px solid black; background-color:#fff;}
.gift-title {margin-bottom:30px; font-size:24px; font-weight:600; text-decoration: underline; text-align:center;}
.platform {margin-bottom:20px;}
.platform:last-child {margin-bottom:0;}
.platform-title {font-size:14px; color:skyblue;}
.winnings {display:flex; justify-content: left; flex-wrap:wrap;}
.winning {flex:0 0 auto; flex-basis: 25%; margin:20px 0; padding-left:50px; position:relative;}
.winning-img {width:40px; position:absolute; left:0; top:51%; transform:translateY(-50%); border-radius:100%;}
.winning-texts p {display:inline-block;}
.winning-texts-sub {color:#999;}

@media screen and (max-width:1200px){
    .winning {flex-basis: 33.33%;}
}

@media screen and (max-width:768px){
    .winning {flex-basis: 50%;}
}